@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 62, 39, 35;
  --background-start-rgb: 245, 245, 220;
  --background-end-rgb: 245, 245, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
