
# Virtual Environments
.venv
venv
ENV
env

# Python Cache
__pycache__
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.*
!.env.example

# IDE/Tools
.vscode
.idea
.git
.gitignore
.dockerignore

# Testing
.pytest_cache
.coverage
htmlcov

# Logs
logs
*.log
